.status-waiting {
    -fx-text-fill: gray;
}

.status-running {
    -fx-text-fill: blue;
}

.status-success {
    -fx-text-fill: green;
}

.status-error {
    -fx-text-fill: red;
}

.keyword {
    -fx-fill: #ff9800;
    -fx-font-weight: bold;
}
.error {
    -fx-fill: #ff4d4d;
    -fx-font-weight: bold;
    -fx-underline: true;
}